[Unit]
Description=ACME cape GPIO expander init
After=network.target
After=systemd-modules.service
ConditionPathExists=/sys/class/gpio

[Service]
Type=oneshot
RemainAfterExit=No
User=root
ExecStart=@BINDIR@/acme-cape-init

[Install]
WantedBy=multi-user.target
