[Unit]
Description=ACME IIO probes init script
After=network.target
ConditionPathExists=/sys/class/gpio

[Service]
Type=oneshot
RemainAfterExit=No
User=root
ExecStart=@BINDIR@/iacme-iio-init

[Install]
WantedBy=multi-user.target
